{% extends "layout.html" %}
{% block title %} Certificat {% endblock %}
{% block content %}
	<h1>Générer Certificat</h1>
	<form action="/generatecert" method="POST" enctype="multipart/form-data">
		<div class="form-row">
			<div class="col-md-4 mb-3">
				<label for="contryname">Country Name</label>
				<select name="contryname" class="custom-select">
					<option selected>Selectionner</option>
					<option >CM</option>
					<option >TD</option>
					<option >US</option>
					<option >FR</option>
				</select>
			</div>
			<div class="col-md-4 mb-3">
				<label for="provincename">State or Province Name</label>
				<input type="text" name="provincename" class="form-control is-valid" id="validationServer01" placeholder="(full name)" required>
			</div>
			<div class="col-md-4 mb-3">
				<label for="localityname">Locality Name</label>
				<input type="text" class="form-control is-valid" name="localityname" id="localityname" placeholder="(eg, city)"  required>
			</div>
		</div>
		<hr>
		<div class="form-row">
			<div class="col-md-4 mb-3">
				<label for="orgname">Organization Name</label>
				<input type="text" class="form-control is-valid" name="orgname" id="orgname" placeholder="(eg, company)" required>
			</div>
			<div class="col-md-4 mb-3">
				<label for="orgunitname">Organizational Unit Name</label>
				<input type="text" class="form-control is-valid" name="orgunitname" id="orgunitname" placeholder="(eg, section)" required>
			</div>
			<div class="col-md-4 mb-3">
				<label for="commonname">Common Name</label>
				<input type="text" class="form-control is-valid" name="commonname" id="commonname" placeholder="(eg, YOUR name)"  required>
			</div>
		</div>
		<hr>
		<div class="form-row">
			<div class="col-md-4 mb-3">
				<label for="domainename">Domaine Name</label>
				<input type="text" class="form-control is-valid" name="domainename" id="domainename" placeholder="(eg, example.cm)" required>
			</div>
				<div class="col-md-4 mb-3">
				<label for="privatekey">Private key</label>
				<input type="file" class="form-control is-valid" name="privatekey" id="privatekey">
			</div>

		</div>
		<hr>
		<div class="form-group">
			<button class="btn btn-primary">Générer certificat</button>
		</div>
		<hr>

		<div class="form-group">
			<textarea name="cert" id="" cols="120" rows="30">{{ private }}</textarea>
		</div>
	</form>
{% endblock %}