<!-- include header -->
{% include "includes/_header.html" %}
<!-- End include -->

<!-- Begin nav -->
{% include "includes/_nav.html" %}
<!-- End nav -->

<!-- Begin main -->
        <div class="container col-md-8 offset-md-2">
            
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                    {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                            {{ message }}
                    </div>
                    {% endfor %}
              {% endif %}
            {% endwith %}
           
            <div class="wrapper">
               {% block content %}{% endblock %}
            </div>
        </div>
<!-- End Main -->

<!-- include footer -->
{% include "includes/_footer.html" %}
<!-- End include -->
