{% extends "layout.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
	<div class="content-section">
			<div class="media">
				<img src="{{ avatars.default() }}" alt="" class="rounded-circle ccount-img">
				<div class="media-body">
					<h2 class="account-heading">{{ session['pseudo'] }}</h2>
					<i class="text-secondary">{{ session['email'] }}</i>
				</div>
			</div>
		</div>
		
		<div class="wrapper">
		<h1>Messages</h1>
		    <form action="" method="POST" enctype="multipart/form-data">
			
				<div class="form-group">
				    <label for="forpsuedo">Titre:</label>
				    <input type="text" class="form-control is-valid" name="pseudo">
			    </div>
			 
			    <div class="form-group">
				    <label for="desc">Description:</label>
				    <textarea name="" id="" cols="30" rows="10" class="form-control is-valid"></textarea>
			    </div>
			  

			    <div class="form-group">
			    	<label for="desc">Destinataire:</label>
				    <select name="cars" class="custom-select is-valid">
					    <option selected>Destinataire</option>
					    <option value="volvo">oudjira</option>
					    <option value="fiat">ratou</option>
					    <option value="audi">djimé</option>
					    <option value="audi">toto</option>
					 </select>
			    </div>


			    <div class="form-group">
			    	<label for="chifre">Chiffrement:</label>
				    <select name="cars" class="custom-select is-valid">
					    <option selected>Algorithme</option>
					    <option value="volvo">RSA</option>
					    <option value="fiat">DES</option>
					    <option value="audi">AES</option>
					 </select>
			    </div>
<hr>	
			    <div class="form-group">
				    <input type="file" class="form-control is-valid" name="customFile" id="customFile">
				    <label class="custom-file-label" for="customFile">Choisir un fichier</label>
			    </div>

			    <div class="form-group">
			    	<button type="submit" class="btn btn-primary">Envoyer</button>
			    </div>
		    </form>
		</div>
		
	</div>
{% endblock %}