{% extends 'layout.html' %}

{% block title %} Register {% endblock %}

{% block content %}
    <div class="row">
	    <div class="card bg-light col-md-6 col-md-offset-3">
		    <h1>Register</h1>
		    <form action="/register"  method="POST" enctype="multipart/form-data">
			    <div class="form-group">
				    <label for="forname">Nom:</label>
				    <input type="text" class="form-control" name="nom" required="required">
			    </div>
			      <div class="form-group">
				    <label for="forprenom">Prénom:</label>
				    <input type="text" class="form-control" name="prenom" required="required">
			    </div>
				<div class="form-group">
				    <label for="forpsuedo">Pseudo:</label>
				    <input type="text" class="form-control" name="pseudo" required="required">
			    </div>
			    <div class="form-group">
				    <label for="foremail">Email:</label>
				    <input type="text" class="form-control" name="email" required="required">
			    </div>
			    <div class="form-group">
				    <label for="forpass">Password:</label>
				    <input type="password" class="form-control" name="password" required="required">
			    </div>
			    <div class="form-group">
				    <label for="forpass1">Confirm password:</label>
				    <input type="password" class="form-control" name="password1" required="required"	>
			    </div>

			    <div class="form-group form-check">
				    <label class="form-check-label">
				      <input class="form-check-input" type="checkbox"> Remember me
				    </label>
			    </div>

			    <div class="form-group">
			    	<button type="submit" class="btn btn-primary">Register</button>
			    </div>
		    </form>
	    </div>
    </div>
{% endblock %}
~               